.Messages
  .Chat1
    .Chat1__user
      .Chat1__user__name
        K
      .Chat1__user__date
        2019/04/01(Sat) 23:59:59
    .Chat1__text
      こんばんは

  .Chat2
    .Chat2__user
      .Chat2__user__name
        K
      .Chat2__user__date
        2019/04/02(Sun) 6:00:00
    .Chat2__text
      おはよう
