.Forms
  .New-message
    .New-message__box
      .New-message__box__type-message
        type a messag
      .New-message__box__image
        = form_for(@image) do |f|
          %label.upload-label{for: "upload-icon"}
            %i.fa.fa-picture-o
            = f.file_field :image, id: "upload-icon"
    .New-message__submit
      .New-message__submit__send
        Send