.Groups
  .Group1
    .Group1__member
      (^ ^)
    .Group1__comment
      おはよう
  .Group2
    .Group2__member
      (@ @)
    .Group2__comment
      こんにちは
  .Group3
    .Group3__member
      ($ $)
    .Group3__comment
      こんばんは