.Main-headers
  .Main-header
    .Main-header__group-name
      (^ ^)
    .Main-header__group-member
      Member：
      .Group-member__list
        K
      
  .Main-edit
    .Main-edit__detail
      Edit