.Side-header
  .Side-header__user-name
    K
  .Side-header__user-menu
    .User-menu__edit-user
      =link_to "https://www.facebook.com/", class: "User-menu__edit-user__btn User-menu__edit-user__btn--facebook" do
        %i.fa.fa-edit
    .User-menu__new-group
      %i.fa.fa-cog